@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --main-bg-color: #7b68ee;
    --main-bg-color-hover: rgb(96, 80, 185);
    --main-bg-color-focus: rgb(82, 67, 165);
    --main-text-color: #fff;
    --pop-up-window-bg: midnightblue;
    --grid-color: rgb(4, 57, 155);
    --player-color: rgb(15, 172, 15);
    --enemy-color: rgba(235, 23, 23, 0.979);
}
*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-weight: bold;
    color: var(--main-text-color);
    font-family:  'Montserrat', sans-serif;
}

body {
    background-color: rgb(145, 243, 230);    
}
.container, .field, li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
ul{
 list-style-type: none;
}

li, .icon, #gameOverWindow{
    padding: 2%;
}
.gameOverWindow-btn, #gameOverWindow{
    border: none;
}
#wrapper{
    z-index: -1;
    position: absolute;
    top: 15%;
    font-size: 4em;
    width: 30vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.field{
    border: 2px solid var(--grid-color);
}
.noBorderTop{
    border-top: none;
}
.noBorderBottom{
    border-bottom: none;
}
.noBorderRight{
    border-right: none;
}
.noBorderLeft{
    border-left: none;
}


.player{
    fill:  var(--player-color);
    color: var(--player-color);
}
.enemy{
    fill: var(--enemy-color);
    color: var(--enemy-color);
}

.hidden{
    visibility: hidden;
}

.selected{
    border: 8px solid rgb(15, 172, 15);
}

.close-icon{
    position: absolute;
    top: -1%;
    right: -1%;
}
.icon{
    font-size: 6em;
    width: 128px;
    border-radius: 50%;
    margin: 2% 5%;
    text-align: center;
}
.icon:hover{
    fill: var(--main-bg-color-hover);
}

#settings{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 25%;
}
#settings-list{
    width: 50vw;
    padding: 5%;
    top: 100%;
    left: 80%;
}
#settings-icon-bg, .icon{
    fill: var(--main-bg-color);
}

#settings-icon:hover{
    animation: settings-icon-anim 3s linear infinite;
}

@keyframes settings-icon-anim{
    0%{transform: rotate(1.8deg);}
    50%{transform: rotate(90deg);}
    100%{transform: rotate(180deg);}
}

#gameOverWindow, #settings-list{
    background-color: var(--pop-up-window-bg);
    position: absolute;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#gameOverWindow{
    top: 25%;
    left: 38%;
    width: 20%;
}
.gameOverWindow-btn, .icon{
    background-color: var(--main-bg-color);
}
#gameOverWindow-btns{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.gameOverWindow-btn{
    padding: 2%;
    width: 30%;
    border-radius: 30px;
}
.gameOverWindow-btn:hover, .icon:hover{
    background-color: var(--main-bg-color-hover);
}
.gameOverWindow-btn:focus, .icon:focus{
   outline: none;
   background-color: var(--main-bg-color-focus);
}
@media(max-width: 500px){
    #wrapper{
        height: 60vh;
        width: 90vw;
    }
    #gameOverWindow{
        width: 60%;
        left: 20%;
    }
    li{
        flex-direction: column;
    }
    .icon{
        width: 30%;
        font-size: 2em;
    }
}
@media(min-height: 720px) and (max-width: 1024px){
    #wrapper{
        width: 80vw;
        font-size: 5em;
    }
    .icon{
        font-size: 2.5em;
    }
    #gameOverWindow{
        width: 60%;
        left: 20%;
    }
    #gameOverWindow, #gameOverWindow-btns{
        font-size: 1.5em;
    }
}