<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/settings.css}">
    <link rel="stylesheet" th:href="@{/css/game.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tic-tac-toe, tic-tac-toe game, browser game">
    <meta name="descirption" content="Just a game of tic-tac-toe. You can play both with the computer and with your friends.">
    <title>Tic-tac-toe</title>
</head>
<body>
    <div class='container'>
        <span class="material-icons settings-btn" id="settings-icon">settings</span>
        <section id="settings" class="hidden">
            <span class="material-icons close-icon">chevron_left</span>
            <h3 class="settings__title">Game Mod</h3>
            <ul class="settings__list">
                <li class="settings__list__item" id="playerMode" title="play with another person"><span class="material-icons-outlined">people</span></li>
                <li class="settings__list__item" id="computerMode" title="play with computer"><span class="material-icons">laptop_mac</span></li> 
            </ul>
            <h3 class="settings__title">Difficulties</h3>
            <ul  class="settings__list">
                <li class="settings__list__item">EASY</li>
                <li class="settings__list__item">HARD</li>
            </ul>
            <h3 class="settings__title">Player Sign</h3>
            <ul class="settings__list">
                <li class="settings__list__item" id="circle" title="play for o"><span class="material-icons">radio_button_unchecked</span></li>
                <li class="settings__list__item" id="cross" title="play for x"><span class="material-icons">close</span></li>
            </ul>
            <a href="index.html" id="menuLink">BACK TO MENU</a>
        </section>
        <dialog id="gameOverWindow">
            <p id='gameOverWindow-message'></p>
            <div id="gameOverWindow-btns">
                <button class="gameOverWindow-btn" id="restart-btn">restart</button>
                <a class="gameOverWindow-btn" href="./index.html">menu</a>
            </div>   
        </dialog>
        <section id="field">
            <div class="cell noBorderTop noBorderLeft" id="id0"></div>
            <div class="cell noBorderTop" id="id1"></div>
            <div class="cell noBorderTop noBorderRight" id="id2"></div>
            <div class="cell noBorderLeft" id="id3"></div>
            <div class="cell" id="id4"></div>
            <div class="cell noBorderRight" id="id5"></div>
            <div class="cell noBorderBottom noBorderLeft" id="id6"></div>
            <div class="cell noBorderBottom" id="id7"></div>
            <div class="cell noBorderBottom noBorderRight" id="id8"></div>
        </section>
    </div>
    <script th:src="@{/js/gameLogic.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>
