<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/settings.css}">
    <title>Tic-tac-toe</title>
</head>
<body>
    <div class="container">
        <section class="main-title">
            <h1><span>TIC</span>-<span>TAC</span>-<span id="toe">TOE</span></h1>
        </section>
        <section>
            <ul class="buttons-list">
                <li>
                    <button id="settingsBtn" class="btn settings-btn">SETTINGS</button>
                </li>
                <li>
                    <a href="/game" id="playBtn" class="btn">PLAY</a>
                </li>
            </ul>
        </section>
        <section id="settings" class="hidden">
            <span class="material-icons close-icon">chevron_left</span>
            <h3 class="settings__title">Game Mod</h3>
            <ul class="settings__list">
                <li class="settings__list__item" id="playerMode" title="play with another person"><span class="material-icons-outlined">people</span></li>
                <li class="settings__list__item" id="computerMode" title="play with computer"><span class="material-icons">laptop_mac</span></li> 
            </ul>
            <h3 class="settings__title">Difficulties</h3>
            <ul  class="settings__list">
                <li class="settings__list__item">EASY</li>
                <li class="settings__list__item">HARD</li>
            </ul>
            <h3 class="settings__title">Player Sign</h3>
            <ul class="settings__list">
                <li class="settings__list__item" id="circle" title="play for o"><span class="material-icons">radio_button_unchecked</span></li>
                <li class="settings__list__item" id="cross" title="play for x"><span class="material-icons">close</span></li>
            </ul>
        </section>
    </div>
    <script th:src="@{/js/gameLogic.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>